﻿@model WebApplication1.ViewModels.PeopleViewModel
@{
    ViewBag.Title = "People";
	Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<h3>People - widok kontrolera</h3>
		@foreach (var person in Model.People)
		{
			@Html.Partial("_PersonPartial", person)
		}
	</div>
</div>

@section Addons{
	<div class="panel panel-primary">
		<div class="panel-heading">Section Addons - panel</div>
	</div>
}