﻿@model WebApplication1.Models.Person

<div class="panel panel-primary">
	<div class="panel-heading">
		<h5>Person - Partial view</h5>
	</div>
	<div class="panel-body">
		<h3>@String.Format("{0} {1}", Model.FirstName, Model.LastName)</h3>
	</div>
	<div class="panel-footer">
		<h4>Wiek: @Model.Age</h4>
	</div>
</div>