﻿@{
	Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
	<div class="col-md-8">
		SubLayout - RenderBody output
		@RenderBody()
	</div>
	<div class="col-md-4">
		<h4>SubLayout</h4>
		@RenderSection("Addons", required: false)
	</div>
</div>
